<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Add Subjects</title>
  </head>
  <body>
    <form action="/subjects/add" method="post">
      Name:<br>
      <input type="text" name="subject_name" placeholder="subjects name">
      <br>
      Subjects Code:<br>
      <input type="text" name="subject_code" placeholder="subjects code">
      <br><br>
      <input type="submit" value="Submit">
</form>
  </body>
</html>
