<html>
        <head>
        </head>
        <body>
            <form action="/subject/add"  method="POST">
                Subject name:<br>
                <input type="text" name="subject_name"><br>
                Subject code:<br>
                <input type="text" name="subject_code">
                <input type='submit' value='SUBMIT'>
            </form>
            <a href ='/subject/add'>Test</a>
        </body>
    </html>