<!DOCTYPE html>
<html>
<head>
<title>Subject</title>
</head>
<body>

<form action="/subject/add" method="post">
  Nama Subject<br>
  <input type="text" name="subject_name">
  <br>
  Kode Subject<br>
  <input type="text" name="subject_code">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>