<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Edit Subjects</title>
  </head>
  <body>
    <form action="/subjects/edit/<%=dataSubjects.id%>" method="post">
      Name:<br>
      <input type="text" name="subject_name" value="<%=dataSubjects.subject_name%>">
      <br>
      Subjects Code:<br>
      <input type="text" name="subject_code" value="<%=dataSubjects.subject_code%>">
      <br><br>
      <input type="submit" value="Submit">
</form>
  </body>
</html>
