<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subjects</title>
  <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
</head>
<body>
  <h1>Subjects</h1><br/>
  <a href="/">Home</a>
  <a href="teachers">Teacher</a>
  <a href="subjects">Subjects</a>

  <br/><br/>

  <form action="subjects/update/<%=dataSubject.id%>" method="post">
    Subject Name:<br>
    <input type="text" name="subject_name" value="<%=dataSubject.subject_name%>">
    <br>
    Subject Code:<br>
    <input type="text" name="subject_code" value="<%=dataSubject.subject_code%>">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>