<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <a href="/subject/list">Subject</a>
    <a href="/student/list">Student</a>
  </body>
</html>
