<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Schools Data</h3>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/students">Students</a></li>
	<li><a href="/subjects">Subjects</a></li>
</ul>
</body>
</html>