<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index</h1>
    <p><a href="/teacher/list">Teacher </a> | <a href="/subject/list">Subject</a> 
    </p>

  </body>
</html>
