<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>HALAMAN UTAMA</h1>
    <a href="/subjects"> SUBJECT</a>
    <a href="/teachers"> TEACHER</a>

  </body>
</html>
