<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HALAMAN INDEX</title>
  </head>
  <body>
    <table class="w3-table">
      <tr>
        <th><a href="/">HOME</a></th>
        <th><a href="/teacher">TEACHERS</a></th>
        <th><a href="/subject">SUBJECTS</a></th>
      </tr>
    </table>
  </body>
</html>
