<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Schoole Applications</title>
  </head>
  <body>
    <h1>School Applications</h1>
    <a href="/subject"><button type="button" name="button">Subject</button></a>
    <a href="/teacher"><button type="button" name="button">Teacher</button></a>
    <a href="/student"><button type="button" name="button">Student</button></a>
  </body>
</html>
