<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ini Adalah Halaman Index</title>
  </head>
  <body>
    <h1>Ini adalah Halaman Index</h1>
    <div class="">
      <a href="/subjects"><button type="button" name="button">Go To Subjects</button></a>
      <a href="/teachers"><button type="button" name="button">Go To Teachers</button></a>
    </div>
  </body>
</html>
