<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Index</title>
  </head>
  <body>
    <h1>Sekolah</h1>
    <a href="/subjects">List Subjects</a>
    <a href="/teachers">Teachers</a>
  </body>
</html>
