<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ORM Mini</title>
  <style>
  body {
    font-family: sans-serif;
  }
  a {
    color: blue;
  }
  </style>
</head>
<body>

  <h1>ORM Mini</h1>
  <p>
    <a href="/students/list">Students</a>&nbsp;
    <a href="/subjects/list">Subjects</a>
  </p>

  <hr>

</body>
</html>
