<!DOCTYPE html>
<html>

<head>
    <title>Subject</title>
</head>

<body>

    <h4>Hello, welcome!</h4>
    <div id="main">
        <a href="./subjects"> Subject
        </a>
        <a href="./teachers"> Teacher
            </a>
    </div>
</body>

</html>