<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h2>Welcome, ?</h2>

	<a href="/teachers">Teachers</a>
	<a href="/subjects">Subjects</a>
	
</body>
</html>