<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tambah halaman</title>
  </head>
  <body>
    <form action="subject/add" method="post">
      <input type="input" name="subject_name">
      <input type="input" name="subject_code">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
