<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tambah halaman</title>
  </head>
  <body>
    <form action="/subject/subject/edit/<%=dataSubject[0].id%>" method="post">
      <input type="input" name="subject_name" value="<%=dataSubject[0].subject_name%>">
      <input type="input" name="subject_code" value="<%=dataSubject[0].subject_code%>">
      <input type="submit" value="submit" value="">
    </form>
  </body>
</html>
