<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
  </head>
  <body>
    <form action="/subject/add" method="post">
      Subject Name <input type="text" name="subject_name" placeholder="Subject Name" ><br>
      Subject Code <input type="text" name="subject_code" placeholder="Subject Code"><br>
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
