<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>

	<h3>Welcome, ? (Subjects)</h3>

	<table border="1" cellpadding="5">
		<thead>
			<th>No</th>
			<th>Subject Name</th>
			<th>Subject Code</th>
			<th>Action</th>
		</thead>
	</table>

	<form action="/subjects" method="post">
		<table>
			<tr>
				<td>Subject Name: </td>
				<td>
					<input type="text" name="sn">
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
		</table>
	</form>
	
</body>
</html>