<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SUBJECT</title>
  </head>
  <body>
    <h1>SUBJECT</h1>
    <table border="1px">
      <tr>
        <th>ID</th>
        <th>Subject Name</th>
        <th>Subject Code</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
    </table>

    <form action="/action_page.php">
      First name:<br>
      <input type="text" name="firstname" value="">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
