<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <table>
      <thead>
        <th>
          <td>ID</td>
          <td>Subject Name</td>
          <td>Subject Code</td>
          <td>Action</td>
        </th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Edit | Delete</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
