<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <thead>
      <th>Nama Pelajaran</th>
      <th>Kode Pelajaran</th>
    </thead>
    <tbody>

    </tbody>
  </body>
</html>
