<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ORM Mini</title>
  <style>
    body {
      font-family: sans-serif;
    }
    a {
      color: blue;
    }
  </style>
</head>
<body>

  <h1>Add a Student</h1>

  <form action="/subjects/add-student/<%= subject_id %>" method="POST">

    Student Name:<br>
    <br>
    <select name="student_id">
      <% students.forEach((student) => { %>
        <option value="<%= student.id %>"><%= student.first_name %> <%= student.last_name %></option>
      <% }); %>
    </select>
    <br>
    <br>

    <button type="submit">Submit</button>
    &nbsp;
    <a href="/subjects/list">Cancel</a>
  </form>

</body>
</html>
